* {
  box-sizing: border-box;
  font-family: "Permanent Marker", cursive;
}

body {
  display: flex;

  justify-content: center;
  text-shadow: 2px 2px 8px rgb(8, 23, 242);
  background-color: grey;
}

img {
  width: 200px;
  box-shadow: 1px 1px 10px 10px rgb(8, 23, 242);
  margin: 20px;
}
.Game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.shotDiv {
  padding: 50px;
}
.scoreBoard {
  display: flex;
  position: relative;
  top: 80px;
  left: 100px;

  width: 300px;
  height: 100px;
  font-size: 12px;
}
h1 {
  position: relative;
  bottom: 125px;
}
.versus {
  position: relative;
  top: 150px;
  left: 75px;
  margin-top: -40px;
}
.resetButton {
  position: relative;
  left: 25px;
  top: 5px;
}
@keyframes move {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.ball1 {
  animation: move infinite;
}
.ball2 {
  animation: move infinite;
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 361px) {
  * {
    box-sizing: border-box;
    font-family: "Permanent Marker", cursive;
  }

  body {
    display: flex;

    justify-content: center;
    text-shadow: 2px 2px 8px rgb(8, 23, 242);
    background-image: url("court.jpeg");
    width: 100%;
    height: 100%;
  }

  img {
    width: 200px;
    box-shadow: 1px 1px 10px 10px rgb(8, 23, 242);
    margin: 20px;
  }
  .Game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .shotDiv {
    padding: 50px;
  }
  .scoreBoard {
    display: flex;
    position: relative;
    top: 578px;
    left: -75px;

    width: 300px;
    height: 100px;
    font-size: 12px;
  }
  h1 {
    position: relative;
    bottom: 10px;
    font-size: 26px;
  }
  .versus {
    position: relative;
    top: -20px;
    left: 175px;
    margin-top: -40px;
  }
  .resetButton {
    position: relative;
    left: 25px;
    top: -10px;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  @media only screen and (min-width: 361px) {
    * {
      box-sizing: border-box;
      font-family: "Permanent Marker", cursive;
    }

    body {
      display: flex;

      justify-content: center;
      text-shadow: 2px 2px 8px rgb(8, 23, 242);
      background-color: grey;
    }

    img {
      width: 200px;
      box-shadow: 1px 1px 10px 10px rgb(8, 23, 242);
      margin: 20px;
    }
    .Game {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      flex-wrap: wrap;
    }
    .shotDiv {
      padding: 50px;
    }
    .scoreBoard {
      display: flex;
      position: relative;
      top: 578px;
      left: -75px;

      width: 300px;
      height: 100px;
      font-size: 12px;
    }
    h1 {
      position: relative;
      bottom: 10px;
      font-size: 26px;
    }
    .versus {
      position: relative;
      top: -10px;
      left: 225px;
      margin-top: -40px;
    }
    .resetButton {
      position: relative;
      left: 25px;
      top: -10px;
    }
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 800px) {
  * {
    box-sizing: border-box;
    font-family: "Permanent Marker", cursive;
  }

  body {
    display: flex;

    justify-content: center;
    text-shadow: 2px 2px 8px rgb(8, 23, 242);
    background-color: grey;
  }

  img {
    width: 200px;
    box-shadow: 1px 1px 10px 10px rgb(8, 23, 242);
    margin: 20px;
  }
  .Game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .shotDiv {
    padding: 50px;
  }
  .scoreBoard {
    display: flex;
    position: relative;
    top: 578px;
    left: -75px;

    width: 300px;
    height: 100px;
    font-size: 12px;
  }
  h1 {
    position: relative;
    top: -10px;
    font-size: 50px;
  }
  .versus {
    position: relative;
    top: -10px;
    left: 225px;
    margin-top: -40px;
  }
  .resetButton {
    position: relative;
    left: 25px;
    top: -10px;
  }

  @keyframes move {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  #ball1 {
    font-size: 100px;
    animation: move infinite;
  }
}
